body {
	font-family:  Arial;
}

.firstClass {
	padding-left: 4rem;
	padding-bottom: 1rem;
	padding-top: 1rem;
	font_size: 32px;
}

.marginEffect {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.centerText {
	text-align: center;
}

.middleDiv {
	background-color: #E0D1E3;
	padding-top: 20rem;
	padding-bottom: 20rem;
	color: white;
	font-size: 24px;
}

.projectsDiv {
	padding-top: 5rem;
	padding-bottom: 5rem;
	font-size: 24px;
}

.aboutMeDiv {
	padding-top: 5rem;
	padding-bottom: 2rem;
	font-size: 24px;
	background-color: #e0d1e3;
}

.imageEffects {
	transition: transform .2s;
}

.imageEffects:hover {
	transform: scale(1.05);
	cursor: pointer;
}

.nav-links {
	margin-right: 4rem;
	margin-top: 2.75rem;
}

.nav-item {
	padding-left: 45px;
	color: black;
	font-size: 24px;
	text-decoration: none;
}

.nav-item:hover {
	text-decoration: underline;
}


